body {
  padding-top: 5px;
}

.tab-pane {
  padding: 10px 16px;
}

#spn-test-stdout,
span.input-group-addon {
  font-family: "Courier New", Courier, monospace;
}

#spn-test-stdout {
  font-size: 11px;
}